[submodule "home/vimfiles/bundle_storage/nerdtree"]
	path = home/vimfiles/bundle_storage/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "home/vimfiles/bundle_storage/supertab"]
	path = home/vimfiles/bundle_storage/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/vimfiles/bundle_storage/syntastic"]
	path = home/vimfiles/bundle_storage/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "home/vimfiles/bundle_storage/tabular"]
	path = home/vimfiles/bundle_storage/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/vimfiles/bundle_storage/taglist"]
	path = home/vimfiles/bundle_storage/taglist
	url = https://github.com/yegappan/taglist.git
[submodule "home/vimfiles/bundle_storage/vim-surround"]
	path = home/vimfiles/bundle_storage/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/vimfiles/bundle_storage/ctrlp.vim"]
	path = home/vimfiles/bundle_storage/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/vimfiles/bundle_storage/vim-lua"]
	path = home/vimfiles/bundle_storage/vim-lua
	url = https://github.com/tbastos/vim-lua.git
[submodule "home/vimfiles/bundle_storage/tagbar"]
	path = home/vimfiles/bundle_storage/tagbar
	url = https://github.com/preservim/tagbar.git
